@model FakeAguia.Models.ViewModels.EmployeeFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>
    @ViewData["Title"]
</h2>

<h4>
    Employee
</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Employee.Name" class="control-label"></label>
                <input asp-for="Employee.Name" value="@Model.Employee.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Employee.PlantId" class="control-label"></label>
                <select asp-for="Employee.PlantId" class="form-control">
                    @foreach (var item in Model.Plants)
                    {
                        @if (item.Id == Model.Employee.PlantId)
                        {
                            <option value="@item.Id" selected>
                                @item.Name
                            </option>
                        }
                        else
                        {
                            <option value="@item.Id">
                                @item.Name
                            </option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Employee.ShiftId" class="control-label"></label>
                <select asp-for="Employee.ShiftId" asp-items="@(new SelectList(Model.Shifts, "Id","Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Employee.RoleId" class="control-label"></label>
                <select asp-for="Employee.RoleId" asp-items="@(new SelectList(Model.Roles, "Id","Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Profile" class="control-label"></label>
                <select asp-for="Employee.Profile" class="form-control">
                    @foreach (var profile in Enum.GetValues(typeof(Profile)).Cast<Profile>().ToList())
                    {
                        int profileCode = (int)profile;
                        <option value="@profileCode">
                            @profile
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Employee.Id" value="@Model.Employee.Id" />
             </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

