@model IEnumerable<Region>

@{
    ViewData["Title"] = "Region Index Page";
}

<h2>
    @ViewData["Title"]
</h2>

<br />

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-lg-4">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="col-lg-4">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="col-lg-4">
                    <a asp-area="" asp-controller="Regions" asp-action="Details" class="btn btn-primary">Details</a>
                    <a asp-area="" asp-controller="Regions" asp-action="Edit" class="btn btn-primary">Edit</a>
                    <a asp-area="" asp-controller="Regions" asp-action="Delete" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

